.top-posts {
    min-height: 650px;
    max-height: 650px;
    /*border-radius: 10px;*/
}

.main-top-post {
    height: 650px;
}

.untop-post {
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 650px;
    justify-content: space-between;
}
.first-untop-post{
    height: 50%;

}
.row.categories{
    margin-right: unset !important;
    margin-left: unset !important;
}
.category-wrapper{

}
.second-untop-post{
    height: 45%;
}
.categories{
    margin-bottom: 50px;
    height: 150px;
}

.posts{
    margin-top: 50px;
}
.post-wrapper{
    width: 100%;
    height: 180px;
    margin: 10px 0px;
}
.likable-post-wrapper{
    width: 100%;
    height: 243px;
    margin: 10px 0px;
}
