.top-posts {
    min-height: 650px;
    max-height: 650px;
    /*border-radius: 10px;*/
}

.main-top-post {
    height: 650px;
}

.untop-post {
    height: 650px
}
.first-untop-post{
    height: 55%;
}
.second-untop-post{
    height: 45%;
}
.categories{
    margin-top: 50px;
    height: 270px;
}

.posts{
    margin-top: 50px;
}
.post-wrapper{
    width: 100%;
    height: 180px;
    margin: 10px 0px;
}
.likable-post-wrapper{
    width: 100%;
    height: 243px;
    margin: 10px 0px;
}
